@charset "utf-8";

:root {
	--main-color: #ede4d7;
	--text-color: #3E3A39;
}

/* 全体 */

body {
	font-family: "Noto Sans JP", Arial, "Hiragino Kaku Gothic ProN",
		"Hiragino Sans", Meiryo, sans-serif;
	font-size: 18px;
	color: var(--text-color);

	/* 文字詰めを自動で調整してくれる */
	font-feature-settings: "palt";
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: bottom;
}

/* ボタン */

.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 160px;
	height: 40px;
	font-family: "Zen Old Mincho", serif;
	font-size: 19px;
	text-shadow: 3px 0px 9px #000;
	line-height: 1;
	letter-spacing: 0.05em;
	color: #ffffff;
	background-image: radial-gradient(circle, #cba223, #8c5524 80%);
	border-radius: 5px;
	box-shadow: 0 3px 0 #612b16;
	transition-duration: 0.25s;
}

.btn::after {
	content: "";
	display: inline-block;
	background-image: url(../img/yazirushi.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: 0.75em;
	height: 0.75em;
	position: absolute;
	top: 50%;
	transform: translateY(-54%);
	right: 11px;
}

.btn:hover {
	transform: translateY(2px);
	box-shadow: 0 1px 0 #501d0f;
	opacity: 0.9;
	cursor: pointer;
}

/* テーブル */
dt {
	font-weight: normal;
}

dd {
	margin-top: 9px;
}

/* レイアウト */

.container {
	max-width: 1400px;
	margin: 0 auto;
	padding: 0 28px;
}

/* ヘッダー */

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100px;
	padding: 30px 28px 30px 0;
	background: linear-gradient(to right, #c4bfc4 0%, #dbe3ed);
}

.header__logo {
	line-height: 1;
	background: linear-gradient(to right, #04152c, #11334c);
	padding: 31px 28px;
}

/* グローバルナビ */

.gnav__list {
	display: flex;
	position: relative;
	justify-content: center;
	column-gap: 9.78px;
}

.gnav__item {
	width: 150.75px;
	text-align: center;
	font-weight: 600;
	border: 0.75px solid var(--text-color);
	border-radius: 3px;
	padding: 11.7px 0;
}

.gnav__item:last-child {
	width: 150.75px;
	text-align: center;
	color: #ffffff;
	background: linear-gradient(to right, #03152b 20%, #177ca7);
	border: 0;
	border-radius: 0;
	padding: 11.7px 0;
}

/* メインビジュアル */

.mv {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 835px;
	/* background-image: url(../img/bg_mv1.jpg); */
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.mv__titleArea {
	display: flex;
	align-items: center;
	justify-content: center;
	/* Values min 343px max 1343 viewport min 700px 1400px */
	width: clamp(21.438rem, -41.063rem + 142.86vw, 83.938rem);
	height: 297.5px;
	/* 背景のみ透明にする */
	background-color: rgb(255 255 255 / .5);
	/* opacity: 0.8; */
	background: linear-gradient(to bottom, rgba(255 255 255 /  0) 0%, rgba(255, 255, 255, 0.75) 20%, rgba(255, 255, 255, 0.75) 80%, rgba(255, 255, 255, 0) 100%);
}


.mv__title {
	font-family: "Noto Serif JP", serif;
	font-size: 65px;
	color: var(--text-color);
	font-weight: bold;
	line-height: 1;
	letter-spacing: 0.1em;
}

/* ビジネス */

.business {
	margin-top: 79.8px;
	/* margin-bottom: 79.8px; */
}

.business-list {
	display: grid;
	column-gap: 42.5px;
	grid-template-columns: repeat(3, 1fr);
}

.business-list__item {
	position: relative;
	background-color: var(--main-color);
	border-radius: 5px;
	padding: 58.8px 27.3px 30px 27.3px;
}

.business-list__img {
	position: absolute;
	top: -52px;
	right: 0;
	left: 0;
	margin: auto;
}

.business-list__subtitle {
	text-align: center;
	font-size: 10px;
	font-weight: 600;
}

.business-list__title {
	text-align: center;
	font-size: 24px;
	font-weight: 600;
	margin-top: 2px;
}

.business-list__mainimg-wrapper {
	margin-top: 15px;
}

.business-list__mainimg {
	width: 100%;
}

.business-list__text {
	margin-top: 28.5px;
}

.business-list__category {
	display: grid;
	column-gap: 24px;
	grid-template-columns: repeat(3, 1fr);
	margin-top: 26.5px;
}

.house::before {
	content: "";
	display: inline-block;
	background-image: url(../img/b1-1.svg);
	background-size: cover;
	background-repeat: no-repeat;
	transform: translateY(2px);
	/* 上下方向の位置を微調整する */
	width: 1em;
	height: 1em;
	margin-right: 4px;
}

.land::before {
	content: "";
	display: inline-block;
	background-image: url(../img/b1-2.svg);
	background-size: cover;
	background-repeat: no-repeat;
	transform: translateY(2px);
	/* 上下方向の位置を微調整する */
	width: 1em;
	height: 1em;
	margin-right: 4px;
}

.apartment::before {
	content: "";
	display: inline-block;
	background-image: url(../img/b1-3.svg);
	background-size: cover;
	background-repeat: no-repeat;
	transform: translateY(2px);
	/* 上下方向の位置を微調整する */
	width: 1em;
	height: 1em;
	margin-right: 4px;
}

.category__list::before {
	content: "";
	display: inline-block;
	background-image: url(../img/b1-4.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: 1em;
	height: 1em;
	margin-right: 4px;
}

.category__list {
	text-decoration: underline solid 1px #957928;
	text-underline-offset: 4px;
}

.business-list__btn {
	display: flex;
	justify-content:center;
	margin-top: 45px;
}

/* 投資 */

.investment {
	margin-top: 85px;
}

.investment__body {
	position: relative;
	background-color: var(--main-color);
	border-radius: 5px;
}

.investment-list__img {
	position: absolute;
	top: -52px;
	right: 0;
	left: 0;
	margin: auto;
}

.investment-list {
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 43px;
	padding: 28px;
}

.investment-list__left {
	/* flex:1; */
	flex-grow: 1;
	flex-shrink: 0;
}

.investment__mainimg {
	width: 100%;
}

.investment-list__center {
	/* flex:2; */
	flex-grow: 2;
	flex-shrink: 1;
}

.investment-list__subtitle {
	margin-top: 32px;
	text-align: center;
	font-size: 10px;
	font-weight: 600;
}

.investment-list__title {
	text-align: center;
	font-size: 24px;
	font-weight: 600;
	margin-top: 2px;
}

.investment-list__text {
	text-align: justify;
	line-height: 1.3;
	margin-top: 15px;
}

.investment-list__btn {
	display: flex;
	justify-content: center;
	margin-top: 22px;
}

.investment-list__right {
	width: 298px;
	/* flex:1; */
	flex-grow: 1;
	flex-shrink: 0;
}

.investment-list__category>ul>li:first-child::before {
	content: "";
	display: inline-block;
	background-image: url(../img/im1-1.svg);
	background-size: cover;
	background-repeat: no-repeat;
	transform: translateY(2px);
	/* 上下方向の位置を微調整する */
	width: 1em;
	height: 1em;
	margin-right: 4px;
}

.investment-list__category>ul>li:nth-child(2)::before {
	content: "";
	display: inline-block;
	background-image: url(../img/im1--2.svg);
	background-size: cover;
	background-repeat: no-repeat;
	transform: translateY(2px);
	/* 上下方向の位置を微調整する */
	width: 1em;
	height: 1em;
	margin-right: 4px;
	margin-top: 5px;
}

.investment-list__category>ul>li:nth-child(3)::before {
	content: "";
	display: inline-block;
	background-image: url(../img/im1-3.svg);
	background-size: cover;
	background-repeat: no-repeat;
	transform: translateY(2px);
	/* 上下方向の位置を微調整する */
	width: 1em;
	height: 1em;
	margin-right: 4px;
	margin-top: 5px;
}

.investment-list__category>ul>li:last-child::before {
	content: "";
	display: inline-block;
	background-image: url(../img/im1-4.svg);
	background-size: cover;
	background-repeat: no-repeat;
	transform: translateY(2px);
	/* 上下方向の位置を微調整する */
	width: 1em;
	height: 1em;
	margin-right: 4px;
	margin-top: 37px;
}

.investment-list__category>ul>li:last-child {
	font-weight: 600;
}

/* フッター */

.footer {
	margin-top: 42.5px;
	background: linear-gradient(to right, #03152b 30%, #177ca7);
}

.footer_body {
	display: flex;
	justify-content: space-between;
	padding-top: 38px;
	padding-left: 38px;
}

.co_adress {
	color: #ffffff;
	margin-top: 20px;
}

.co_contact-wrapper {
	display: flex;
	column-gap: 30px;
	margin-top: 18px;
}

.co_tel {
	color: #ffffff;
}

.co_fax {
	color: #ffffff;
}

.encircle {
	border: solid 1px #ffffff;
	padding: 0 5px;
}

.co_businesshours {
	color: #ffffff;
	margin-top: 18px;
}

.footer-nav {
	margin-top: 30px;
}

.footer-nav__list {
	width: 302px;
	display: flex;
	flex-wrap: wrap;
	column-gap: 77px;
	row-gap: 18px;
	color: #ffffff;
}

.footer-nav__item:last-child {
	margin-left: 150px;
}

.footer_bottom {
	display: flex;
  justify-content: center;
  align-items: center;
	margin-top: 40px;
	height: 28px;
	background: linear-gradient(to right, #177ca7 30%, #03152b);
}

.footer__copyright {
	font-size: 10px;
	font-weight: normal;
	letter-spacing: 0.1em;
	color: #ffffff;
}